<nav class="navbar navbar-expand-lg bg-black">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'twitter_views01' %}" style="color: beige;">首頁</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if not outline_d.user_id %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user_register' %}" style="color: beige;">使用者註冊</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user_login' %}" style="color: beige;">登入</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user_profile' %}" style="color: beige;">個人資料</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user_logout' %}" style="color: beige;">登出</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_post' %}" style="color: beige;">新增貼文
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'personal_views_post' %}" style="color: beige;">
              個人文章
            </a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="" style="color: beige;">熱門貼文</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>